.about {
  margin-top: 30px;
  display: flex;
}

#at-work {
  width: 50%;
}

.bio {
  font-family: "nunito sans";
  line-height: 1.25em;
  font-size: 18px;
  color: #707070;
  margin: 50px;
  align-self: center;
}

.bio p {
  margin: 10px 0;
}

@media only screen and (max-device-width: 480px) {
  .about {
    flex-direction: column-reverse;
  }
  .bio {
    font-size: 12px;
    margin: 0 15px;
  }
  #at-work {
    width: 90%;
    align-self: center;
  }
}
