.about {
  margin-top: 30px;
  display: flex;
}

#at-work {
  width: 50%;
}

.bio {
  font-family: "nunito sans";
  line-height: 1.25em;
  font-size: 18px;
  color: #707070;
  margin: 50px;
  align-self: center;
}

.bio p {
  margin: 10px 0;
}
