.CV {
  display: flex;
  flex-direction: row;
}

.CV-pdf {
  padding: 10px 10px 0 200px;
  color: black;
}

.CV-pdf a {
  color: black;
  text-decoration: none;
  text-align: center;
}

.CV-pdf-icon {
  width: 70px;
  height: 70px;
}

dt {
  margin-top: 10px;
  font-family: "nunito sans";
  color: #707070;
  font-size: 30px;
  line-height: 1.25em;
}

dd {
  padding-left: 30px;
  padding-bottom: 15px;
}

dd h4 {
  color: black;
  font-family: "nunito sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25em;
}

dd h5 {
  font-family: "nunito sans";
  color: #707070;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #707070;
  line-height: 1.25em;
}

dd ul,
dd ul a {
  font-family: "nunito sans";
  color: #414141;
  font-size: 16px;
  line-height: 1.25em;
  margin-top: 5px;
  width: 80%;
  list-style: disc;
  padding-left: 20px;
}

dd ul li {
  padding-top: 5px;
}

dd ul a {
  margin: 0;
  padding: 0;
}

/* MOBILE */
@media only screen and (max-device-width: 480px) {
  .CV {
    display: flex;
    flex-direction: column;
  }

  .CV-pdf {
    padding: 10px 0;
    text-align: left;
  }

  .CV-pdf a {
    font-size: 14px;
    text-align: left;
  }

  .CV-pdf-icon {
    width: 40px;
    height: 40px;
  }

  .CV-html {
    padding-right: 10px;
  }
  dt {
    margin-top: 5px;

    font-size: 20px;
  }

  dd {
    padding-left: 8px;
    padding-bottom: 5px;
  }

  dd h4 {
    font-size: 18px;
    font-weight: 600;
    color: #646464;
  }

  dd h5 {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #707070;
    line-height: 1.25em;
  }

  dd ul,
  dd ul a {
    font-size: 12px;
    line-height: 1.1em;
    margin-top: 5px;
    width: 90%;
    list-style: disc;
    padding-left: 15px;
  }
  dd ul a {
    padding: 0;
    margin: 0;
  }
  .CV {
    padding: 5px;
  }

  .CV-pdf,
  .CV-pdf p {
    text-align: center;
  }
  .CV-pdf p {
    font-size: 12px;
  }
}
