header {
  background: white;
  margin-bottom: 1.45rem;
}

.header-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: white;
  opacity: 1;
  padding: 5px 0;
}

.header-container,
.header-container h3 {
  transition: visibility 0s, opacity 0.25s linear;
}

.spacer {
  position: relative;
  height: 140px;
  width: 100vw;
  z-index: -1;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px 0 50px;
}

h1 a {
  font-family: "Nunito";
  font-weight: 300;
  font-size: 100px;

  color: black;

  line-height: 1em;
  text-decoration: none;
}

h2,
h3 {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #707070;
  font-size: 40px;
  padding-left: 8px;
  line-height: 1.25em;

  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 30px;
}

.card {
  border-left: 5px solid #e92199;
  padding-left: 10px;
}

.contact {
  margin-top: 25px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contact p {
  line-height: 1.25em;
}

.contact ul li a,
#email {
  text-decoration: none;
  font-family: "Nunito";
  color: #707070;
  font-size: 24px;
  padding: 0;
}

.contact ul li a :hover {
  color: rgb(47, 47, 47);
}

.contact ul li {
  margin-bottom: 1px;
}

#email {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-radius: 0;
  display: block;
  text-align: right;
}
#email:hover {
  color: rgb(47, 47, 47);
  cursor: pointer;
}

.mobile {
  display: none;
}
.desktop {
  display: inline;
}

/* MOBILE */

@media only screen and (max-device-width: 480px) {
  #header {
    padding: 20px 10px 0 10px;
  }

  .mobile {
    display: inline;
  }
  .desktop {
    display: none;
  }

  .contact {
    margin-top: 0;
  }

  h1 a {
    font-size: 25px;
  }

  h2,
  h3 {
    font-family: "Nunito Sans";
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    padding-left: 2px;
    line-height: 1.25em;

    margin-block-start: 0;
    margin-block-end: 0;
  }

  h3 {
    font-size: 12px;
  }

  .contact {
    justify-content: flex-end;
  }

  .contact ul li a,
  #email {
    text-decoration: none;
    font-family: "Nunito";
    color: #707070;
    font-size: 12px;
    padding: 0;
  }

  /* MINIMISE HEADER */

  .minimised {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    box-shadow: 0 0 1px 0;
  }
  .minimised #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
  }

  .minimised h3,
  .minimised #linkedin,
  .minimised #github {
    height: auto;
    opacity: 0;
    visibility: hidden;
    font-size: 0px;
  }

  .minimised ul li {
    font-size: 0px;
  }
  .minimised #email {
    height: 100%;
    opacity: 1;
    visibility: visible;
    font-size: 12px;
  }

  .spacer {
    height: 80px;
  }
}
